In [1]:
import pandas as pd
import numpy as np
!pip install lxml

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: lxml in c:\users\sejal\appdata\roaming\python\python311\site-packages (4.9.3)

## Extracting features of 2021 movies from Wikipedia

In [2]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2021"
df1 = pd.read_html(link, header=0)[2]
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]

In [3]:
import pandas as pd

df_list = [df1, df2, df3, df4]
df = pd.concat(df_list, ignore_index=True)

In [4]:
df

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,J A N U A R Y,1.0,Shadow in the Cloud,Vertical Entertainment,Roseanne Liang (director/screenplay); Max Land...,[2]
1,J A N U A R Y,5.0,Hacksaw,Leone Films / Midnight Releasing,"Anthony Leone (director/screenplay); Amy Cay, ...",[3]
2,J A N U A R Y,13.0,The White Tiger,Netflix / Noruz Films,Ramin Bahrani (director/screenplay); Adarsh Go...,NaN
3,J A N U A R Y,14.0,Locked Down,HBO Max / Warner Bros. Pictures,Doug Liman (director); Steven Knight (screenpl...,[4]
4,J A N U A R Y,15.0,The Dig,Netflix / Clerkenwell Films,Simon Stone (director); Moira Buffini (screenp...,[5]
...,...,...,...,...,...,...
357,D E C E M B E R,25.0,The Tragedy of Macbeth,Apple TV+ / A24 / IAC Films,Joel Coen (director/screenplay); Denzel Washin...,[274]
358,D E C E M B E R,25.0,A Journal for Jordan,Columbia Pictures / Escape Artists / Bron Studios,Denzel Washington (director); Virgil Williams ...,[275]
359,D E C E M B E R,25.0,American Underdog,Lionsgate,"Erwin brothers (directors); Jon Erwin, David A...",[276]
360,D E C E M B E R,26.0,Memoria,Neon,Apichatpong Weerasethakul (director/acreenplay...,[277]
361,D E C E M B E R,NaN,NaN,NaN,NaN,NaN

In [5]:
!pip install tmdbv3api
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = '3c8a48afaa665f0097beed6b27c4191f'

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: tmdbv3api in c:\users\sejal\appdata\roaming\python\python311\site-packages (1.9.0)
Requirement already satisfied: requests in c:\users\sejal\appdata\roaming\python\python311\site-packages (from tmdbv3api) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sejal\appdata\roaming\python\python311\site-packages (from requests->tmdbv3api) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sejal\appdata\roaming\python\python311\site-packages (from requests->tmdbv3api) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sejal\appdata\roaming\python\python311\site-packages (from requests->tmdbv3api) (2.0.5)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sejal\appdata\roaming\python\python311\site-packages (from requests->tmdbv3api) (2023.7.22)

In [13]:
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)

    # Check if there are any results
    if result['results']:
        movie_id = result['results'][0]['id']
        response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id, tmdb.api_key))
        data_json = response.json()

        if data_json['genres']:
            genre_str = " " 
            for i in range(0, len(data_json['genres'])):
                genres.append(data_json['genres'][i]['name'])
            return genre_str.join(genres)
    
    # Return NaN if there are no results or no genres
    return np.NaN

In [14]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))

In [15]:
df

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.,genres
0,J A N U A R Y,1.0,Shadow in the Cloud,Vertical Entertainment,Roseanne Liang (director/screenplay); Max Land...,[2],Horror Action War
1,J A N U A R Y,5.0,Hacksaw,Leone Films / Midnight Releasing,"Anthony Leone (director/screenplay); Amy Cay, ...",[3],Horror
2,J A N U A R Y,13.0,The White Tiger,Netflix / Noruz Films,Ramin Bahrani (director/screenplay); Adarsh Go...,NaN,Drama
3,J A N U A R Y,14.0,Locked Down,HBO Max / Warner Bros. Pictures,Doug Liman (director); Steven Knight (screenpl...,[4],Comedy Crime Drama
4,J A N U A R Y,15.0,The Dig,Netflix / Clerkenwell Films,Simon Stone (director); Moira Buffini (screenp...,[5],Drama History
...,...,...,...,...,...,...,...
357,D E C E M B E R,25.0,The Tragedy of Macbeth,Apple TV+ / A24 / IAC Films,Joel Coen (director/screenplay); Denzel Washin...,[274],Drama War
358,D E C E M B E R,25.0,A Journal for Jordan,Columbia Pictures / Escape Artists / Bron Studios,Denzel Washington (director); Virgil Williams ...,[275],Drama Romance
359,D E C E M B E R,25.0,American Underdog,Lionsgate,"Erwin brothers (directors); Jon Erwin, David A...",[276],Drama
360,D E C E M B E R,26.0,Memoria,Neon,Apichatpong Weerasethakul (director/acreenplay...,[277],Drama Science Fiction Mystery
361,D E C E M B E R,NaN,NaN,NaN,NaN,NaN,Drama Crime

In [16]:
df.columns

Index(['Opening', 'Opening.1', 'Title', 'Production company', 'Cast and crew',
       'Ref.', 'genres'],
      dtype='object')

In [17]:
df_2021 = df[['Title','Cast and crew','genres']]

In [18]:
df_2021

,Title,Cast and crew,genres
0,Shadow in the Cloud,Roseanne Liang (director/screenplay); Max Land...,Horror Action War
1,Hacksaw,"Anthony Leone (director/screenplay); Amy Cay, ...",Horror
2,The White Tiger,Ramin Bahrani (director/screenplay); Adarsh Go...,Drama
3,Locked Down,Doug Liman (director); Steven Knight (screenpl...,Comedy Crime Drama
4,The Dig,Simon Stone (director); Moira Buffini (screenp...,Drama History
...,...,...,...
357,The Tragedy of Macbeth,Joel Coen (director/screenplay); Denzel Washin...,Drama War
358,A Journal for Jordan,Denzel Washington (director); Virgil Williams ...,Drama Romance
359,American Underdog,"Erwin brothers (directors); Jon Erwin, David A...",Drama
360,Memoria,Apichatpong Weerasethakul (director/acreenplay...,Drama Science Fiction Mystery
361,NaN,NaN,Drama Crime

In [22]:
def get_director(x):
    if pd.isna(x):
        return np.NaN  # Return NaN for NaN values
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

# Apply the function to the 'Cast and crew' column
df_2021['director_name'] = df_2021['Cast and crew'].map(lambda x: get_director(x))

C:\Users\sejal\AppData\Local\Temp\ipykernel_30456\1175179311.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021['director_name'] = df_2021['Cast and crew'].map(lambda x: get_director(x))

In [25]:
def get_actor1(x):
    if pd.isna(x):
        return np.NaN
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

# Apply the function to the 'Cast and crew' column
df_2021['actor_1_name'] = df_2021['Cast and crew'].map(lambda x: get_actor1(x))

C:\Users\sejal\AppData\Local\Temp\ipykernel_30456\332845071.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021['actor_1_name'] = df_2021['Cast and crew'].map(lambda x: get_actor1(x))

In [26]:
def get_actor2(x):
    if pd.isna(x) or len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

# Apply the function to the 'Cast and crew' column
df_2021['actor_2_name'] = df_2021['Cast and crew'].map(lambda x: get_actor2(x))

C:\Users\sejal\AppData\Local\Temp\ipykernel_30456\1592394946.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021['actor_2_name'] = df_2021['Cast and crew'].map(lambda x: get_actor2(x))

In [32]:
def get_actor3(x):
    if pd.isna(x) or len((str(x).split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((str(x).split("screenplay); ")[-1]).split(", ")[2])

# Apply the function to the 'Cast and crew' column
df_2021['actor_3_name'] = df_2021['Cast and crew'].map(lambda x: get_actor3(x))

In [33]:
df_2021

,Title,Cast and crew,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,Shadow in the Cloud,Roseanne Liang (director/screenplay); Max Land...,Horror Action War,Roseanne Liang,ChloÃ« Grace Moretz,Taylor John Smith,Beulah Koale
1,Hacksaw,"Anthony Leone (director/screenplay); Amy Cay, ...",Horror,Anthony Leone,Amy Cay,Brian Patrick Butler,Michael C. Burgess
2,The White Tiger,Ramin Bahrani (director/screenplay); Adarsh Go...,Drama,Ramin Bahrani,Adarsh Gourav,Rajkummar Rao,Priyanka Chopra Jonas
3,Locked Down,Doug Liman (director); Steven Knight (screenpl...,Comedy Crime Drama,Doug Liman,Anne Hathaway,Chiwetel Ejiofor,Stephen Merchant
4,The Dig,Simon Stone (director); Moira Buffini (screenp...,Drama History,Simon Stone,Carey Mulligan,Ralph Fiennes,Lily James
...,...,...,...,...,...,...,...
357,The Tragedy of Macbeth,Joel Coen (director/screenplay); Denzel Washin...,Drama War,Joel Coen,Denzel Washington,Frances McDormand,Bertie Carvel
358,A Journal for Jordan,Denzel Washington (director); Virgil Williams ...,Drama Romance,Denzel Washington,Michael B. Jordan,ChantÃ© Adams,Jalon Christian
359,American Underdog,"Erwin brothers (directors); Jon Erwin, David A...",Drama,Erwin brothers,Zachary Levi,Anna Paquin,Dennis Quaid
360,Memoria,Apichatpong Weerasethakul (director/acreenplay...,Drama Science Fiction Mystery,Apichatpong Weerasethakul (director/acreenplay...,Apichatpong Weerasethakul (director/acreenplay...,Elkin DÃ­az,Jeanne Balibar
361,NaN,NaN,Drama Crime,NaN,NaN,NaN,NaN

In [34]:
df_2021 = df_2021.rename(columns={'Title':'movie_title'})

In [35]:
new_df21 = df_2021.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [36]:
new_df21

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,Roseanne Liang,ChloÃ« Grace Moretz,Taylor John Smith,Beulah Koale,Horror Action War,Shadow in the Cloud
1,Anthony Leone,Amy Cay,Brian Patrick Butler,Michael C. Burgess,Horror,Hacksaw
2,Ramin Bahrani,Adarsh Gourav,Rajkummar Rao,Priyanka Chopra Jonas,Drama,The White Tiger
3,Doug Liman,Anne Hathaway,Chiwetel Ejiofor,Stephen Merchant,Comedy Crime Drama,Locked Down
4,Simon Stone,Carey Mulligan,Ralph Fiennes,Lily James,Drama History,The Dig
...,...,...,...,...,...,...
357,Joel Coen,Denzel Washington,Frances McDormand,Bertie Carvel,Drama War,The Tragedy of Macbeth
358,Denzel Washington,Michael B. Jordan,ChantÃ© Adams,Jalon Christian,Drama Romance,A Journal for Jordan
359,Erwin brothers,Zachary Levi,Anna Paquin,Dennis Quaid,Drama,American Underdog
360,Apichatpong Weerasethakul (director/acreenplay...,Apichatpong Weerasethakul (director/acreenplay...,Elkin DÃ­az,Jeanne Balibar,Drama Science Fiction Mystery,Memoria
361,NaN,NaN,NaN,NaN,Drama Crime,NaN

In [37]:
new_df21['actor_2_name'] = new_df21['actor_2_name'].replace(np.nan, 'unknown')
new_df21['actor_3_name'] = new_df21['actor_3_name'].replace(np.nan, 'unknown')

In [38]:
new_df21['movie_title'] = new_df21['movie_title'].str.lower()

In [39]:
new_df21['comb'] = new_df21['actor_1_name'] + ' ' + new_df21['actor_2_name'] + ' '+ new_df21['actor_3_name'] + ' '+ new_df21['director_name'] +' ' + new_df21['genres']

In [40]:
new_df21

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Roseanne Liang,ChloÃ« Grace Moretz,Taylor John Smith,Beulah Koale,Horror Action War,shadow in the cloud,ChloÃ« Grace Moretz Taylor John Smith Beulah Ko...
1,Anthony Leone,Amy Cay,Brian Patrick Butler,Michael C. Burgess,Horror,hacksaw,Amy Cay Brian Patrick Butler Michael C. Burges...
2,Ramin Bahrani,Adarsh Gourav,Rajkummar Rao,Priyanka Chopra Jonas,Drama,the white tiger,Adarsh Gourav Rajkummar Rao Priyanka Chopra Jo...
3,Doug Liman,Anne Hathaway,Chiwetel Ejiofor,Stephen Merchant,Comedy Crime Drama,locked down,Anne Hathaway Chiwetel Ejiofor Stephen Merchan...
4,Simon Stone,Carey Mulligan,Ralph Fiennes,Lily James,Drama History,the dig,Carey Mulligan Ralph Fiennes Lily James Simon ...
...,...,...,...,...,...,...,...
357,Joel Coen,Denzel Washington,Frances McDormand,Bertie Carvel,Drama War,the tragedy of macbeth,Denzel Washington Frances McDormand Bertie Car...
358,Denzel Washington,Michael B. Jordan,ChantÃ© Adams,Jalon Christian,Drama Romance,a journal for jordan,Michael B. Jordan ChantÃ© Adams Jalon Christian...
359,Erwin brothers,Zachary Levi,Anna Paquin,Dennis Quaid,Drama,american underdog,Zachary Levi Anna Paquin Dennis Quaid Erwin br...
360,Apichatpong Weerasethakul (director/acreenplay...,Apichatpong Weerasethakul (director/acreenplay...,Elkin DÃ­az,Jeanne Balibar,Drama Science Fiction Mystery,memoria,Apichatpong Weerasethakul (director/acreenplay...
361,NaN,NaN,unknown,unknown,Drama Crime,NaN,NaN

## Extracting features of 2022 movies from Wikipedia

In [43]:
import pandas as pd
import numpy as np
!pip install lxml
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2019"
df11 = pd.read_html(link, header=0)[2]
df12 = pd.read_html(link, header=0)[3]
df13 = pd.read_html(link, header=0)[4]
df14 = pd.read_html(link, header=0)[5]

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: lxml in c:\users\sejal\appdata\roaming\python\python311\site-packages (4.9.3)

In [44]:
df_list = [df11, df12, df13, df14]
df = pd.concat(df_list, ignore_index=True)

In [45]:
df

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,J A N U A R Y,4,Escape Room,Columbia Pictures / Original Film,"Adam Robitel (director); Bragi F. Schut, Maria...",[2]
1,J A N U A R Y,4,Rust Creek,IFC Films / Lunacy Productions,Jen McGowan (director); Julie Lipson (screenpl...,[3]
2,J A N U A R Y,4,American Hangman,Hangman Justice Productions,Wilson Coneybeare (director/screenplay); Donal...,[4]
3,J A N U A R Y,11,A Dog's Way Home,Columbia Pictures,Charles Martin Smith (director); W. Bruce Came...,[5]
4,J A N U A R Y,11,The Upside,STX Entertainment,Neil Burger (director); Jon Hartmere (screenpl...,[6]
...,...,...,...,...,...,...
241,D E C E M B E R,25,Spies in Disguise,20th Century Fox / Blue Sky Studios / Chernin ...,"Nick Bruno, Troy Quane (directors); Brad Copel...",[132]
242,D E C E M B E R,25,Little Women,Columbia Pictures / Regency Enterprises,Greta Gerwig (director/screenplay); Saoirse Ro...,[225]
243,D E C E M B E R,25,1917,Universal Pictures / DreamWorks Pictures,Sam Mendes (director/screenplay); Krysty Wilso...,[226]
244,D E C E M B E R,25,Just Mercy,Warner Bros. Pictures / Participant Media,"Destin Daniel Cretton (director/screenplay), A...",[227]
245,D E C E M B E R,27,Clemency,Neon,Chinonye Chukwu (director/screenplay); Alfre W...,[228]

In [46]:
!pip install tmdbv3api
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = '3c8a48afaa665f0097beed6b27c4191f'

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: tmdbv3api in c:\users\sejal\appdata\roaming\python\python311\site-packages (1.9.0)
Requirement already satisfied: requests in c:\users\sejal\appdata\roaming\python\python311\site-packages (from tmdbv3api) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sejal\appdata\roaming\python\python311\site-packages (from requests->tmdbv3api) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sejal\appdata\roaming\python\python311\site-packages (from requests->tmdbv3api) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sejal\appdata\roaming\python\python311\site-packages (from requests->tmdbv3api) (2.0.5)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sejal\appdata\roaming\python\python311\site-packages (from requests->tmdbv3api) (2023.7.22)

In [47]:
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)

    # Check if there are any results
    if result['results']:
        movie_id = result['results'][0]['id']
        response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id, tmdb.api_key))
        data_json = response.json()

        if data_json['genres']:
            genre_str = " " 
            for i in range(0, len(data_json['genres'])):
                genres.append(data_json['genres'][i]['name'])
            return genre_str.join(genres)
    
    # Return NaN if there are no results or no genres
    return np.NaN

In [48]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))

In [49]:
df

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.,genres
0,J A N U A R Y,4,Escape Room,Columbia Pictures / Original Film,"Adam Robitel (director); Bragi F. Schut, Maria...",[2],Horror Thriller Mystery
1,J A N U A R Y,4,Rust Creek,IFC Films / Lunacy Productions,Jen McGowan (director); Julie Lipson (screenpl...,[3],Thriller Drama Action Crime
2,J A N U A R Y,4,American Hangman,Hangman Justice Productions,Wilson Coneybeare (director/screenplay); Donal...,[4],Thriller
3,J A N U A R Y,11,A Dog's Way Home,Columbia Pictures,Charles Martin Smith (director); W. Bruce Came...,[5],Drama Adventure Family
4,J A N U A R Y,11,The Upside,STX Entertainment,Neil Burger (director); Jon Hartmere (screenpl...,[6],Comedy Drama
...,...,...,...,...,...,...,...
241,D E C E M B E R,25,Spies in Disguise,20th Century Fox / Blue Sky Studios / Chernin ...,"Nick Bruno, Troy Quane (directors); Brad Copel...",[132],Animation Action Adventure Comedy Family
242,D E C E M B E R,25,Little Women,Columbia Pictures / Regency Enterprises,Greta Gerwig (director/screenplay); Saoirse Ro...,[225],Drama Romance
243,D E C E M B E R,25,1917,Universal Pictures / DreamWorks Pictures,Sam Mendes (director/screenplay); Krysty Wilso...,[226],War Action Drama
244,D E C E M B E R,25,Just Mercy,Warner Bros. Pictures / Participant Media,"Destin Daniel Cretton (director/screenplay), A...",[227],Drama Crime History
245,D E C E M B E R,27,Clemency,Neon,Chinonye Chukwu (director/screenplay); Alfre W...,[228],Drama

In [50]:
df_2022 = df[['Title','Cast and crew','genres']]

In [51]:
df_2022

,Title,Cast and crew,genres
0,Escape Room,"Adam Robitel (director); Bragi F. Schut, Maria...",Horror Thriller Mystery
1,Rust Creek,Jen McGowan (director); Julie Lipson (screenpl...,Thriller Drama Action Crime
2,American Hangman,Wilson Coneybeare (director/screenplay); Donal...,Thriller
3,A Dog's Way Home,Charles Martin Smith (director); W. Bruce Came...,Drama Adventure Family
4,The Upside,Neil Burger (director); Jon Hartmere (screenpl...,Comedy Drama
...,...,...,...
241,Spies in Disguise,"Nick Bruno, Troy Quane (directors); Brad Copel...",Animation Action Adventure Comedy Family
242,Little Women,Greta Gerwig (director/screenplay); Saoirse Ro...,Drama Romance
243,1917,Sam Mendes (director/screenplay); Krysty Wilso...,War Action Drama
244,Just Mercy,"Destin Daniel Cretton (director/screenplay), A...",Drama Crime History
245,Clemency,Chinonye Chukwu (director/screenplay); Alfre W...,Drama

In [52]:
def get_director(x):
    if pd.isna(x):
        return np.NaN  # Return NaN for NaN values
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

# Apply the function to the 'Cast and crew' column
df_2022['director_name'] = df_2022['Cast and crew'].map(lambda x: get_director(x))

C:\Users\sejal\AppData\Local\Temp\ipykernel_30456\338836442.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022['director_name'] = df_2022['Cast and crew'].map(lambda x: get_director(x))

In [53]:
def get_actor1(x):
    if pd.isna(x):
        return np.NaN
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

# Apply the function to the 'Cast and crew' column
df_2022['actor_1_name'] = df_2022['Cast and crew'].map(lambda x: get_actor1(x))

C:\Users\sejal\AppData\Local\Temp\ipykernel_30456\803318330.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022['actor_1_name'] = df_2022['Cast and crew'].map(lambda x: get_actor1(x))

In [55]:
def get_actor2(x):
    if pd.isna(x) or len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

# Apply the function to the 'Cast and crew' column
df_2022['actor_2_name'] = df_2022['Cast and crew'].map(lambda x: get_actor2(x))

C:\Users\sejal\AppData\Local\Temp\ipykernel_30456\784308989.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022['actor_2_name'] = df_2022['Cast and crew'].map(lambda x: get_actor2(x))

In [56]:
def get_actor3(x):
    if pd.isna(x) or len((str(x).split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((str(x).split("screenplay); ")[-1]).split(", ")[2])

# Apply the function to the 'Cast and crew' column
df_2022['actor_3_name'] = df_2022['Cast and crew'].map(lambda x: get_actor3(x))

In [57]:
df_2022

,Title,Cast and crew,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,Escape Room,"Adam Robitel (director); Bragi F. Schut, Maria...",Horror Thriller Mystery,Adam Robitel,Taylor Russell,Logan Miller,Deborah Ann Woll
1,Rust Creek,Jen McGowan (director); Julie Lipson (screenpl...,Thriller Drama Action Crime,Jen McGowan,Hermione Corfield,Jay Paulson,Sean O'Bryan
2,American Hangman,Wilson Coneybeare (director/screenplay); Donal...,Thriller,Wilson Coneybeare,Donald Sutherland,Vincent Kartheiser,Oliver Dennis
3,A Dog's Way Home,Charles Martin Smith (director); W. Bruce Came...,Drama Adventure Family,Charles Martin Smith,Bryce Dallas Howard,Edward James Olmos,Alexandra Shipp
4,The Upside,Neil Burger (director); Jon Hartmere (screenpl...,Comedy Drama,Neil Burger,Bryan Cranston,Kevin Hart,Nicole Kidman
...,...,...,...,...,...,...,...
241,Spies in Disguise,"Nick Bruno, Troy Quane (directors); Brad Copel...",Animation Action Adventure Comedy Family,"Nick Bruno, Troy Quane",Will Smith,Tom Holland,Rashida Jones
242,Little Women,Greta Gerwig (director/screenplay); Saoirse Ro...,Drama Romance,Greta Gerwig,Saoirse Ronan,Emma Watson,Florence Pugh
243,1917,Sam Mendes (director/screenplay); Krysty Wilso...,War Action Drama,Sam Mendes,George MacKay,Dean-Charles Chapman,Mark Strong
244,Just Mercy,"Destin Daniel Cretton (director/screenplay), A...",Drama Crime History,Destin Daniel Cretton,Michael B. Jordan,Jamie Foxx,Brie Larson
245,Clemency,Chinonye Chukwu (director/screenplay); Alfre W...,Drama,Chinonye Chukwu,Alfre Woodard,Wendell Pierce,Aldis Hodge

In [58]:
df_2022 = df_2022.rename(columns={'Title':'movie_title'})

In [59]:
new_df22 = df_2022.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [60]:
new_df22

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,Adam Robitel,Taylor Russell,Logan Miller,Deborah Ann Woll,Horror Thriller Mystery,Escape Room
1,Jen McGowan,Hermione Corfield,Jay Paulson,Sean O'Bryan,Thriller Drama Action Crime,Rust Creek
2,Wilson Coneybeare,Donald Sutherland,Vincent Kartheiser,Oliver Dennis,Thriller,American Hangman
3,Charles Martin Smith,Bryce Dallas Howard,Edward James Olmos,Alexandra Shipp,Drama Adventure Family,A Dog's Way Home
4,Neil Burger,Bryan Cranston,Kevin Hart,Nicole Kidman,Comedy Drama,The Upside
...,...,...,...,...,...,...
241,"Nick Bruno, Troy Quane",Will Smith,Tom Holland,Rashida Jones,Animation Action Adventure Comedy Family,Spies in Disguise
242,Greta Gerwig,Saoirse Ronan,Emma Watson,Florence Pugh,Drama Romance,Little Women
243,Sam Mendes,George MacKay,Dean-Charles Chapman,Mark Strong,War Action Drama,1917
244,Destin Daniel Cretton,Michael B. Jordan,Jamie Foxx,Brie Larson,Drama Crime History,Just Mercy
245,Chinonye Chukwu,Alfre Woodard,Wendell Pierce,Aldis Hodge,Drama,Clemency

In [61]:
new_df22['actor_2_name'] = new_df22['actor_2_name'].replace(np.nan, 'unknown')
new_df22['actor_3_name'] = new_df22['actor_3_name'].replace(np.nan, 'unknown')

In [62]:
new_df22['movie_title'] = new_df22['movie_title'].str.lower()

In [63]:
new_df22['comb'] = new_df22['actor_1_name'] + ' ' + new_df22['actor_2_name'] + ' '+ new_df22['actor_3_name'] + ' '+ new_df22['director_name'] +' ' + new_df22['genres']

In [64]:
new_df22

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Adam Robitel,Taylor Russell,Logan Miller,Deborah Ann Woll,Horror Thriller Mystery,escape room,Taylor Russell Logan Miller Deborah Ann Woll A...
1,Jen McGowan,Hermione Corfield,Jay Paulson,Sean O'Bryan,Thriller Drama Action Crime,rust creek,Hermione Corfield Jay Paulson Sean O'Bryan Jen...
2,Wilson Coneybeare,Donald Sutherland,Vincent Kartheiser,Oliver Dennis,Thriller,american hangman,Donald Sutherland Vincent Kartheiser Oliver De...
3,Charles Martin Smith,Bryce Dallas Howard,Edward James Olmos,Alexandra Shipp,Drama Adventure Family,a dog's way home,Bryce Dallas Howard Edward James Olmos Alexand...
4,Neil Burger,Bryan Cranston,Kevin Hart,Nicole Kidman,Comedy Drama,the upside,Bryan Cranston Kevin Hart Nicole Kidman Neil B...
...,...,...,...,...,...,...,...
241,"Nick Bruno, Troy Quane",Will Smith,Tom Holland,Rashida Jones,Animation Action Adventure Comedy Family,spies in disguise,Will Smith Tom Holland Rashida Jones Nick Brun...
242,Greta Gerwig,Saoirse Ronan,Emma Watson,Florence Pugh,Drama Romance,little women,Saoirse Ronan Emma Watson Florence Pugh Greta ...
243,Sam Mendes,George MacKay,Dean-Charles Chapman,Mark Strong,War Action Drama,1917,George MacKay Dean-Charles Chapman Mark Strong...
244,Destin Daniel Cretton,Michael B. Jordan,Jamie Foxx,Brie Larson,Drama Crime History,just mercy,Michael B. Jordan Jamie Foxx Brie Larson Desti...
245,Chinonye Chukwu,Alfre Woodard,Wendell Pierce,Aldis Hodge,Drama,clemency,Alfre Woodard Wendell Pierce Aldis Hodge Chino...

## Extracting features of 2023 movies from Wikipedia

In [67]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2023"
df21 = pd.read_html(link, header=0)[2]
df22 = pd.read_html(link, header=0)[3]
df23 = pd.read_html(link, header=0)[4]
df24 = pd.read_html(link, header=0)[5]

In [68]:
import pandas as pd

df_list = [df21, df22, df23, df24]
df = pd.concat(df_list, ignore_index=True)

In [69]:
df

,Rank,Title,Distributor,Domestic gross,Opening,Opening.1,Production company,Cast and crew,Ref.
0,1.0,Barbie,Warner Bros.,"$635,680,031",NaN,NaN,NaN,NaN,NaN
1,2.0,The Super Mario Bros. Movie,Universal,"$574,934,330",NaN,NaN,NaN,NaN,NaN
2,3.0,Spider-Man: Across the Spider-Verse,Sony,"$381,311,319",NaN,NaN,NaN,NaN,NaN
3,4.0,Guardians of the Galaxy Vol. 3,Disney,"$358,995,815",NaN,NaN,NaN,NaN,NaN
4,5.0,Oppenheimer,Universal,"$324,042,625",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
236,NaN,Fair Play,NaN,NaN,S E P T E M B E R,29.0,Netflix / MRC / T-Street Productions,Chloe Domont (director/screenplay); Phoebe Dyn...,[215]
237,NaN,Heist 88,NaN,NaN,S E P T E M B E R,29.0,Showtime / Paramount+,Menhaj Huda (director); Dwayne Johnson-Cochran...,[216]
238,NaN,The Re-Education of Molly Singer,NaN,NaN,S E P T E M B E R,29.0,Lionsgate,"Andy Palmer (director); Todd Friedman, Kevin H...",[217]
239,NaN,Deliver Us,NaN,NaN,S E P T E M B E R,29.0,Magnet Releasing,"Lee Roy Kunz, Cru Ennis (directors); Lee Roy K...",[218]
240,NaN,NaN,NaN,NaN,S E P T E M B E R,NaN,NaN,NaN,NaN

In [70]:
!pip install tmdbv3api
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = '3c8a48afaa665f0097beed6b27c4191f'

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: tmdbv3api in c:\users\sejal\appdata\roaming\python\python311\site-packages (1.9.0)
Requirement already satisfied: requests in c:\users\sejal\appdata\roaming\python\python311\site-packages (from tmdbv3api) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sejal\appdata\roaming\python\python311\site-packages (from requests->tmdbv3api) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sejal\appdata\roaming\python\python311\site-packages (from requests->tmdbv3api) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sejal\appdata\roaming\python\python311\site-packages (from requests->tmdbv3api) (2.0.5)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sejal\appdata\roaming\python\python311\site-packages (from requests->tmdbv3api) (2023.7.22)

In [71]:
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)

    # Check if there are any results
    if result['results']:
        movie_id = result['results'][0]['id']
        response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id, tmdb.api_key))
        data_json = response.json()

        if data_json['genres']:
            genre_str = " " 
            for i in range(0, len(data_json['genres'])):
                genres.append(data_json['genres'][i]['name'])
            return genre_str.join(genres)
    
    # Return NaN if there are no results or no genres
    return np.NaN

In [72]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))

In [73]:
df

,Rank,Title,Distributor,Domestic gross,Opening,Opening.1,Production company,Cast and crew,Ref.,genres
0,1.0,Barbie,Warner Bros.,"$635,680,031",NaN,NaN,NaN,NaN,NaN,Comedy Adventure Fantasy
1,2.0,The Super Mario Bros. Movie,Universal,"$574,934,330",NaN,NaN,NaN,NaN,NaN,Animation Family Adventure Fantasy Comedy
2,3.0,Spider-Man: Across the Spider-Verse,Sony,"$381,311,319",NaN,NaN,NaN,NaN,NaN,Animation Action Adventure
3,4.0,Guardians of the Galaxy Vol. 3,Disney,"$358,995,815",NaN,NaN,NaN,NaN,NaN,Science Fiction Adventure Action
4,5.0,Oppenheimer,Universal,"$324,042,625",NaN,NaN,NaN,NaN,NaN,Drama History
...,...,...,...,...,...,...,...,...,...,...
236,NaN,Fair Play,NaN,NaN,S E P T E M B E R,29.0,Netflix / MRC / T-Street Productions,Chloe Domont (director/screenplay); Phoebe Dyn...,[215],Drama Thriller
237,NaN,Heist 88,NaN,NaN,S E P T E M B E R,29.0,Showtime / Paramount+,Menhaj Huda (director); Dwayne Johnson-Cochran...,[216],Crime Drama
238,NaN,The Re-Education of Molly Singer,NaN,NaN,S E P T E M B E R,29.0,Lionsgate,"Andy Palmer (director); Todd Friedman, Kevin H...",[217],Comedy
239,NaN,Deliver Us,NaN,NaN,S E P T E M B E R,29.0,Magnet Releasing,"Lee Roy Kunz, Cru Ennis (directors); Lee Roy K...",[218],Horror
240,NaN,NaN,NaN,NaN,S E P T E M B E R,NaN,NaN,NaN,NaN,Drama Crime

In [74]:
df.columns

Index(['Rank', 'Title', 'Distributor', 'Domestic gross', 'Opening',
       'Opening.1', 'Production company', 'Cast and crew', 'Ref.', 'genres'],
      dtype='object')

In [75]:
df_2023 = df[['Title','Cast and crew','genres']]

In [76]:
df_2023

,Title,Cast and crew,genres
0,Barbie,NaN,Comedy Adventure Fantasy
1,The Super Mario Bros. Movie,NaN,Animation Family Adventure Fantasy Comedy
2,Spider-Man: Across the Spider-Verse,NaN,Animation Action Adventure
3,Guardians of the Galaxy Vol. 3,NaN,Science Fiction Adventure Action
4,Oppenheimer,NaN,Drama History
...,...,...,...
236,Fair Play,Chloe Domont (director/screenplay); Phoebe Dyn...,Drama Thriller
237,Heist 88,Menhaj Huda (director); Dwayne Johnson-Cochran...,Crime Drama
238,The Re-Education of Molly Singer,"Andy Palmer (director); Todd Friedman, Kevin H...",Comedy
239,Deliver Us,"Lee Roy Kunz, Cru Ennis (directors); Lee Roy K...",Horror
240,NaN,NaN,Drama Crime

In [77]:
def get_director(x):
    if pd.isna(x):
        return np.NaN  # Return NaN for NaN values
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

# Apply the function to the 'Cast and crew' column
df_2023['director_name'] = df_2023['Cast and crew'].map(lambda x: get_director(x))

C:\Users\sejal\AppData\Local\Temp\ipykernel_30456\650223254.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023['director_name'] = df_2023['Cast and crew'].map(lambda x: get_director(x))

In [78]:
def get_actor1(x):
    if pd.isna(x):
        return np.NaN
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

# Apply the function to the 'Cast and crew' column
df_2023['actor_1_name'] = df_2023['Cast and crew'].map(lambda x: get_actor1(x))

C:\Users\sejal\AppData\Local\Temp\ipykernel_30456\777040046.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023['actor_1_name'] = df_2023['Cast and crew'].map(lambda x: get_actor1(x))

In [79]:
def get_actor2(x):
    if pd.isna(x) or len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

# Apply the function to the 'Cast and crew' column
df_2023['actor_2_name'] = df_2023['Cast and crew'].map(lambda x: get_actor2(x))

C:\Users\sejal\AppData\Local\Temp\ipykernel_30456\386430614.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023['actor_2_name'] = df_2023['Cast and crew'].map(lambda x: get_actor2(x))

In [80]:
def get_actor3(x):
    if pd.isna(x) or len((str(x).split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((str(x).split("screenplay); ")[-1]).split(", ")[2])

# Apply the function to the 'Cast and crew' column
df_2023['actor_3_name'] = df_2023['Cast and crew'].map(lambda x: get_actor3(x))

C:\Users\sejal\AppData\Local\Temp\ipykernel_30456\938278915.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023['actor_3_name'] = df_2023['Cast and crew'].map(lambda x: get_actor3(x))

In [81]:
df_2023

,Title,Cast and crew,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,Barbie,NaN,Comedy Adventure Fantasy,NaN,NaN,NaN,NaN
1,The Super Mario Bros. Movie,NaN,Animation Family Adventure Fantasy Comedy,NaN,NaN,NaN,NaN
2,Spider-Man: Across the Spider-Verse,NaN,Animation Action Adventure,NaN,NaN,NaN,NaN
3,Guardians of the Galaxy Vol. 3,NaN,Science Fiction Adventure Action,NaN,NaN,NaN,NaN
4,Oppenheimer,NaN,Drama History,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
236,Fair Play,Chloe Domont (director/screenplay); Phoebe Dyn...,Drama Thriller,Chloe Domont,Phoebe Dynevor,Alden Ehrenreich,Eddie Marsan
237,Heist 88,Menhaj Huda (director); Dwayne Johnson-Cochran...,Crime Drama,Menhaj Huda,Courtney B. Vance,Keesha Sharp,Keith David
238,The Re-Education of Molly Singer,"Andy Palmer (director); Todd Friedman, Kevin H...",Comedy,Andy Palmer,Britt Robertson,Ty Simpkins,Nico Santos
239,Deliver Us,"Lee Roy Kunz, Cru Ennis (directors); Lee Roy K...",Horror,"Lee Roy Kunz, Cru Ennis",Lee Roy Kunz,Maria Vera Ratti,Alexander Siddig
240,NaN,NaN,Drama Crime,NaN,NaN,NaN,NaN

In [82]:
df_2023 = df_2023.rename(columns={'Title':'movie_title'})

In [83]:
new_df23 = df_2023.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [84]:
new_df23

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,NaN,NaN,NaN,NaN,Comedy Adventure Fantasy,Barbie
1,NaN,NaN,NaN,NaN,Animation Family Adventure Fantasy Comedy,The Super Mario Bros. Movie
2,NaN,NaN,NaN,NaN,Animation Action Adventure,Spider-Man: Across the Spider-Verse
3,NaN,NaN,NaN,NaN,Science Fiction Adventure Action,Guardians of the Galaxy Vol. 3
4,NaN,NaN,NaN,NaN,Drama History,Oppenheimer
...,...,...,...,...,...,...
236,Chloe Domont,Phoebe Dynevor,Alden Ehrenreich,Eddie Marsan,Drama Thriller,Fair Play
237,Menhaj Huda,Courtney B. Vance,Keesha Sharp,Keith David,Crime Drama,Heist 88
238,Andy Palmer,Britt Robertson,Ty Simpkins,Nico Santos,Comedy,The Re-Education of Molly Singer
239,"Lee Roy Kunz, Cru Ennis",Lee Roy Kunz,Maria Vera Ratti,Alexander Siddig,Horror,Deliver Us
240,NaN,NaN,NaN,NaN,Drama Crime,NaN

In [85]:
new_df23['actor_2_name'] = new_df23['actor_2_name'].replace(np.nan, 'unknown')
new_df23['actor_3_name'] = new_df23['actor_3_name'].replace(np.nan, 'unknown')

In [86]:
new_df23['movie_title'] = new_df23['movie_title'].str.lower()

In [87]:
new_df23['comb'] = new_df23['actor_1_name'] + ' ' + new_df23['actor_2_name'] + ' '+ new_df23['actor_3_name'] + ' '+ new_df23['director_name'] +' ' + new_df23['genres']

In [88]:
new_df23

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,NaN,NaN,unknown,unknown,Comedy Adventure Fantasy,barbie,NaN
1,NaN,NaN,unknown,unknown,Animation Family Adventure Fantasy Comedy,the super mario bros. movie,NaN
2,NaN,NaN,unknown,unknown,Animation Action Adventure,spider-man: across the spider-verse,NaN
3,NaN,NaN,unknown,unknown,Science Fiction Adventure Action,guardians of the galaxy vol. 3,NaN
4,NaN,NaN,unknown,unknown,Drama History,oppenheimer,NaN
...,...,...,...,...,...,...,...
236,Chloe Domont,Phoebe Dynevor,Alden Ehrenreich,Eddie Marsan,Drama Thriller,fair play,Phoebe Dynevor Alden Ehrenreich Eddie Marsan C...
237,Menhaj Huda,Courtney B. Vance,Keesha Sharp,Keith David,Crime Drama,heist 88,Courtney B. Vance Keesha Sharp Keith David Men...
238,Andy Palmer,Britt Robertson,Ty Simpkins,Nico Santos,Comedy,the re-education of molly singer,Britt Robertson Ty Simpkins Nico Santos Andy P...
239,"Lee Roy Kunz, Cru Ennis",Lee Roy Kunz,Maria Vera Ratti,Alexander Siddig,Horror,deliver us,Lee Roy Kunz Maria Vera Ratti Alexander Siddig...
240,NaN,NaN,unknown,unknown,Drama Crime,NaN,NaN

In [89]:
my_df = pd.concat([new_df21, new_df22, new_df23], ignore_index=True)

In [104]:
my_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Roseanne Liang,ChloÃ« Grace Moretz,Taylor John Smith,Beulah Koale,Horror Action War,shadow in the cloud,ChloÃ« Grace Moretz Taylor John Smith Beulah Ko...
1,Anthony Leone,Amy Cay,Brian Patrick Butler,Michael C. Burgess,Horror,hacksaw,Amy Cay Brian Patrick Butler Michael C. Burges...
2,Ramin Bahrani,Adarsh Gourav,Rajkummar Rao,Priyanka Chopra Jonas,Drama,the white tiger,Adarsh Gourav Rajkummar Rao Priyanka Chopra Jo...
3,Doug Liman,Anne Hathaway,Chiwetel Ejiofor,Stephen Merchant,Comedy Crime Drama,locked down,Anne Hathaway Chiwetel Ejiofor Stephen Merchan...
4,Simon Stone,Carey Mulligan,Ralph Fiennes,Lily James,Drama History,the dig,Carey Mulligan Ralph Fiennes Lily James Simon ...
...,...,...,...,...,...,...,...
844,Chloe Domont,Phoebe Dynevor,Alden Ehrenreich,Eddie Marsan,Drama Thriller,fair play,Phoebe Dynevor Alden Ehrenreich Eddie Marsan C...
845,Menhaj Huda,Courtney B. Vance,Keesha Sharp,Keith David,Crime Drama,heist 88,Courtney B. Vance Keesha Sharp Keith David Men...
846,Andy Palmer,Britt Robertson,Ty Simpkins,Nico Santos,Comedy,the re-education of molly singer,Britt Robertson Ty Simpkins Nico Santos Andy P...
847,"Lee Roy Kunz, Cru Ennis",Lee Roy Kunz,Maria Vera Ratti,Alexander Siddig,Horror,deliver us,Lee Roy Kunz Maria Vera Ratti Alexander Siddig...
848,NaN,NaN,unknown,unknown,Drama Crime,NaN,NaN

In [105]:
old_df = pd.read_csv('main_data.csv')

In [106]:
old_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakensÂ ...,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
6005,Joseph Kosinski,Tom Cruise,Miles Teller,Jennifer Connelly,Action Drama,top gun: maverick,Tom Cruise Miles Teller Jennifer Connelly Jose...
6006,Joel Crawford,Nicolas Cage,Emma Stone,Ryan Reynolds,Animation Adventure Family,the croods 2,Nicolas Cage Emma Stone Ryan Reynolds Joel Cra...
6007,Liesl Tommy,Jennifer Hudson,Forest Whitaker,Marlon Wayans,Music Drama,respect,Jennifer Hudson Forest Whitaker Marlon Wayans ...
6008,Ridley Scott,Matt Damon,Adam Driver,Jodie Comer,Drama,the last duel,Matt Damon Adam Driver Jodie Comer Ridley Scot...
6009,Paul Greengrass,Tom Hanks,Helena Zengel,Neil Sandilands,Drama Western,news of the world,Tom Hanks Helena Zengel Neil Sandilands Paul G...

In [109]:
result = pd.concat([old_df, my_df], ignore_index=True)

print(result)

                director_name       actor_1_name      actor_2_name  \
0               James Cameron        CCH Pounder  Joel David Moore
1              Gore Verbinski        Johnny Depp     Orlando Bloom
2                  Sam Mendes    Christoph Waltz      Rory Kinnear
3           Christopher Nolan          Tom Hardy    Christian Bale
4                 Doug Walker        Doug Walker        Rob Walker
...                       ...                ...               ...
6854             Chloe Domont     Phoebe Dynevor  Alden Ehrenreich
6855              Menhaj Huda  Courtney B. Vance      Keesha Sharp
6856              Andy Palmer    Britt Robertson       Ty Simpkins
6857  Lee Roy Kunz, Cru Ennis       Lee Roy Kunz  Maria Vera Ratti
6858                      NaN                NaN           unknown

              actor_3_name                           genres  \
0                Wes Studi  Action Adventure Fantasy Sci-Fi
1           Jack Davenport         Action Adventure Fantasy
2         Stephanie Sigman        Action Adventure Thriller
3     Joseph Gordon-Levitt                  Action Thriller
4                  unknown                      Documentary
...                    ...                              ...
6854          Eddie Marsan                   Drama Thriller
6855           Keith David                      Crime Drama
6856           Nico Santos                           Comedy
6857      Alexander Siddig                           Horror
6858               unknown                      Drama Crime

                                            movie_title  \
0                                                avatar
1              pirates of the caribbean: at world's end
2                                               spectre
3                                 the dark knight rises
4     star wars: episode vii - the force awakensÂ    ...
...                                                 ...
6854                                          fair play
6855                                           heist 88
6856                   the re-education of molly singer
6857                                         deliver us
6858                                                NaN

                                                   comb
0     CCH Pounder Joel David Moore Wes Studi James C...
1     Johnny Depp Orlando Bloom Jack Davenport Gore ...
2     Christoph Waltz Rory Kinnear Stephanie Sigman ...
3     Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4     Doug Walker Rob Walker unknown Doug Walker Doc...
...                                                 ...
6854  Phoebe Dynevor Alden Ehrenreich Eddie Marsan C...
6855  Courtney B. Vance Keesha Sharp Keith David Men...
6856  Britt Robertson Ty Simpkins Nico Santos Andy P...
6857  Lee Roy Kunz Maria Vera Ratti Alexander Siddig...
6858                                                NaN

[6859 rows x 7 columns]

In [110]:
result

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakensÂ ...,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
6854,Chloe Domont,Phoebe Dynevor,Alden Ehrenreich,Eddie Marsan,Drama Thriller,fair play,Phoebe Dynevor Alden Ehrenreich Eddie Marsan C...
6855,Menhaj Huda,Courtney B. Vance,Keesha Sharp,Keith David,Crime Drama,heist 88,Courtney B. Vance Keesha Sharp Keith David Men...
6856,Andy Palmer,Britt Robertson,Ty Simpkins,Nico Santos,Comedy,the re-education of molly singer,Britt Robertson Ty Simpkins Nico Santos Andy P...
6857,"Lee Roy Kunz, Cru Ennis",Lee Roy Kunz,Maria Vera Ratti,Alexander Siddig,Horror,deliver us,Lee Roy Kunz Maria Vera Ratti Alexander Siddig...
6858,NaN,NaN,unknown,unknown,Drama Crime,NaN,NaN

In [112]:
result.to_csv('All_data.csv',index=False)